//[config] catalogs.programs = ./../env/programs
//[config] catalogs.notes = ./../env/notes
//[config] web.local.host = 127.0.0.1
[config] web.local.port = 28000
//[config] web.local.path = /beam/core
//[config] web.local.resources = ../res/static_web_context
[config] rmi.core.port = 38001
//[config] rmi.core.host = 127.0.0.1
[config] rmi.sysconsole.port = 38002
//[config] rmi.sysconsole.host = 127.0.0.1
//[config] core.jvm.option = -Xms32m
//[config] core.jvm.option = -Xmx32m
//[config] sysconsole.jvm.option = -Xms4m
//[config] sysconsole.jvm.option = -Xmx4m