//[config] catalogs.programs = ./../env/programs
//[config] catalogs.notes = ./../env/notes
//[config] web.local.host = 127.0.0.1
//[config] web.local.port = 32001
//[config] web.local.path = /beam/core
//[config] rmi.core.port = 43006
//[config] rmi.core.host = 127.0.0.1
//[config] rmi.sysconsole.port = 43005
//[config] rmi.sysconsole.host = 127.0.0.1
//[config] core.jvm.option = -Xms32m
//[config] core.jvm.option = -Xmx32m
//[config] sysconsole.jvm.option = -Xms4m
//[config] sysconsole.jvm.option = -Xmx4m