
/* === MESSAGE WINDOW STYLES === */
	.message-outer-box {
		-fx-border-insets: 10px; 
		-fx-background-insets: 10px; 
		-fx-background-color: #FF9F00; 
		-fx-background-radius: 12px; 
		-fx-padding: 10px;
	}
	.message-inner-box {
		-fx-padding: 4px;
	}
	.message-main-area {
		-fx-background-color: white; 
		-fx-background-radius: 11px; 
		-fx-border-color: #FFDE00; 
		-fx-border-width: 4px; 
		-fx-border-radius: 10px;
		-fx-padding: 5px;
		-fx-font: 13px "Consolas"; 
		-fx-text-fill: #4CBF13;
	}
	.message-inner-area {
		-fx-padding: 10px;
	}
	.message-bar .message-bar-header {
		-fx-font: 14px "Consolas"; 
		-fx-text-fill: white; 
		-fx-font-weight: bold;
	}

/* === CONSOLE WINDOW STYLES === */
	.console-outer-box {
		-fx-border-insets: 10px; 
		-fx-background-insets: 10px; 
		-fx-background-color: #FF9F00; 
		-fx-background-radius: 12px; 
		-fx-padding: 10px;
	}
	.console-inner-box {
		-fx-padding: 4px;
	}

	.console-bar .console-bar-header {
		-fx-font: 14px "Consolas"; 
		-fx-text-fill: white; 
		-fx-font-weight: bold;
	}

.context-menu {
	-fx-background-radius: 10px; 
	-fx-background-color: white;
	-fx-border-color: #FFDE00;
	-fx-border-width: 3px; 
    -fx-border-radius: 0px 9px 9px 9px;
}

.menu-item {
	-fx-padding: 2px 2px 2px 3px;
	-fx-background-color: white;
}

.menu-item .label {
	-fx-font: 13px "Consolas"; 
	-fx-text-fill: #4CBF13;
	-fx-background-color: white;
}

.menu-item:focused .label {
	-fx-background-color: white;
}

.console-menu-item .console-menu-item-point {
	-fx-min-width: 7px;
	-fx-max-width: 7px;
	-fx-min-height: 7px;
	-fx-max-height: 7px;
	-fx-background-color: transparent;
	-fx-background-radius: 7px; 
}
.console-menu-item:focused .console-menu-item-point {
	-fx-background-color: #FFDE00;
}

.console-main-area {
    -fx-background-color: white; 
    -fx-background-radius: 11px; 
    -fx-border-color: #FFDE00; 
    -fx-border-width: 4px; 
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.text-area{
    -fx-background-color: #fff, #fff;
    -fx-text-fill: #4CBF13;
}
.text-area .content {
    -fx-background-color: #fff;
}
.text-area:focused .content {
    -fx-background-color: #fff;
}

.console-text-area {
	-fx-background-color: white; 
    -fx-focus-color: transparent; 
    -fx-text-box-border: transparent; 
    -fx-faint-focus-color: transparent; 
    -fx-font: 13px "Consolas"; 
}

.text-area .scroll-pane .scroll-bar:horizontal .track,
.text-area .scroll-pane .scroll-bar:vertical .track{
	-fx-background-color: white;
	-fx-border-color: white; 
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

.text-area .scroll-pane .scroll-bar:horizontal .increment-button ,
.text-area .scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-padding:0 0 15 0;

}

.text-area .scroll-pane .scroll-bar:vertical .increment-button ,
.text-area .scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding:0 15 0 0;
}

.text-area .scroll-pane .scroll-bar .increment-arrow,
.text-area .scroll-pane .scroll-bar .decrement-arrow {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-shape: " ";	
	-fx-padding: 0px;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.text-area .scroll-pane .scroll-bar:horizontal .thumb,
.text-area .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: #FFDE00;
    -fx-border-radius: 10px;
    -fx-border-width: 1.5px;
}

.text-area .scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent; 
}

#main {
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-border-color: #ffbf00;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
}

#screen-capture-control-pane {
    -fx-background-color: white;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-background-radius: 12px;
    -fx-border-color: #ffbf00;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
}

#screen-capture-capture-pane {
	-fx-border-insets: 0 10px 0 10px;
    -fx-border-style: solid;        
    -fx-border-radius: 6px;
    -fx-border-color: grey;
    -fx-border-width: 4px;
}

#ok-button.button {
    -fx-background-color: white;
    -fx-background-radius: 11px; 
    -fx-font: 14px "Arial Black";
    -fx-text-fill: #4CBF13;
    -fx-border-radius: 11px;
    -fx-border-color: #FFD500;
    -fx-border-width: 2px;
}

#on-top-toggle-button-off {
    -fx-background-color: transparent;
    -fx-background-radius: 5px; 
    -fx-border-radius: 7px;
    -fx-border-color: #FFD500;
    -fx-border-width: 2px;
}

#on-top-toggle-button-on {
    -fx-background-color: #BEFFA6;
    -fx-background-radius: 7px; 
    -fx-background-insets: 2px;
    -fx-border-radius: 7px;
    -fx-border-color: #FFD500;
    -fx-border-width: 2px;
}

#ok-button.button:hover {
    -fx-background-color: yellow;
    -fx-text-fill: #51CC14;
}

.label {
    -fx-text-fill: #3D990F; 
    -fx-font: 14px arial;
}

.list-view {
    -fx-background-color: white;
    -fx-border-color:#FFD500;
    -fx-border-radius: 11px;
    -fx-border-width: 2px;
    -fx-padding: 4 4 4 4;
    
}
/* The main scrollbar **track** CSS class  */
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track{
	-fx-background-color: white;
	-fx-border-color: white; 
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-padding:0 0 15 0;

}

/* The increment and decrement button CSS class of scrollbar */

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {

    -fx-background-color: white;
    -fx-background-radius: 2em;
    -fx-padding:0 15 0 0;

}

.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 2em;
    -fx-border-color: #FFD500;
    -fx-border-radius: 2em;
    -fx-border-width: 2px;
}

.list-view .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent; 
}

.list-cell:even { 
    -fx-background-color: #FFFFCC;
}
.list-cell:odd { 
    -fx-background-color: #FFFFE5;
}
.list-cell:empty {
    -fx-opacity: 0;
}
