<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    
    <!--
        Java Virtual Machine (TM) options.
        Change, add or remove options only in case you
        have clear understanding what you are doing.
    -->
    <jvm-options>
        <beam-core>
            <option>-Xms25m</option>
            <option>-Xmx25m</option>
            <option>-XX:MaxHeapFreeRatio=10</option>
            <option>-XX:MinHeapFreeRatio=10</option>
        </beam-core>
        <beam-system-console>
            <option>-Xms3m</option>
            <option>-Xmx3m</option>
            <option>-XX:MaxHeapFreeRatio=10</option>
            <option>-XX:MinHeapFreeRatio=10</option>
        </beam-system-console>
    </jvm-options>

    <!--
        Java Classpath.
        Do NOT change these options!
    -->
    <classpath>
        <beam-core>
            <element>Beam.jar</element>
            <element>./../lib/h2-1.3.176.jar</element>
            <element>./../lib/gem-injector-1.0.jar</element>
            <element>./../lib/json-simple-1.1.1.jar</element>
            <element>./../lib/javax.servlet-api-3.1.0.jar</element>
            <element>./../lib/jetty-http-9.3.6.v20151106.jar</element>
            <element>./../lib/jetty-io-9.3.6.v20151106.jar</element>
            <element>./../lib/jetty-server-9.3.6.v20151106.jar</element>
            <element>./../lib/jetty-util-9.3.6.v20151106.jar</element>
            <element>./../lib/jetty-servlet-9.3.6.v20151106.jar</element>
            <element>./../lib/jetty-security-9.3.6.v20151106.jar</element>
        </beam-core>
        <beam-system-console>
            <element>Beam.jar</element>
            <element>./../lib/gem-injector-1.0.jar</element>
        </beam-system-console>
    </classpath>
    
    <!-- 
        Program resources (case, forward slash and backslash insentive).
        
        - images     Points place where all pictures used by program are
                     placed. Do not change this entry without replacing all
                     files in new directory.
        - programs   Shortcuts, *.exe, *.bat and any other executable files
                     placed in this directory are visible for program and
                     could be executed by "run %filename%" command.
        - notes      directory where plain .txt files created by "new note"
                     command are stored.
    -->
    <resources>
        <images>./../data/images/</images>
        <programs>D:/SOUL/Space/Program_links</programs>
        <notes>D:/content/notes</notes>
    </resources>
    
    <!--
        Java RMI settings (case insensitive).
        Program uses Java RMI mechanism to communicate
        between core program and its external console. Program does not have
        any input interface but its console.

        Console can be closed or restarted - it will not affect the main
        program. Main program still work if console is closed.

        You are allowed to change this settings if you want, but not when
        main program is running, because it reads them one time before start
        its work and do not reread them later.
    -->
    <rmi-info>        
        <beam-system-console host="127.0.0.1" port="43015">
              <console-rmi-name>console</console-rmi-name>
        </beam-system-console>
        <beam-core host="127.0.0.1" port="43016">
              <access-rmi-name>RemoteAccess</access-rmi-name>
              <task-manager-rmi-name>TaskManager</task-manager-rmi-name>
              <executor-rmi-name>Executor</executor-rmi-name>
              <locations-rmi-name>LocationsHandler</locations-rmi-name>
              <web-pages-rmi-name>WebPagesHandler</web-pages-rmi-name>
        </beam-core>
    </rmi-info>
    
    <logging>
        
    </logging> 
    
    <!--
        Addresses for web access to web server embedded in beam core.
        Provides same resources through both local and internet addresses.
        To disable connectivity through particular address one have to
        set both its attributes to void value "".
        Internet address should be the valid machine IP.
     -->
    <web>
         <local-address host="127.0.0.1" port="35001"/>
         <internet-address host="192.168.1.33" port="35002"/>
         <context-path>/beam/core</context-path>
    </web>
    
    <!--
        Case sensitive!     
           
        To provide program with specified database connection, fill 
        subsequent properties with values apporpiate for particular Database.
        
        H2 Database (Embedded mode):
            <db-name>H2</db-name>
            <db-location>./../data/BeamData</db-location>
            <jdbc-url>jdbc:h2:</jdbc-url>
            <jdbc-driver>org.h2.Driver</jdbc-driver>
            
        SQLite Database (Embedded):
            Not implemented yet.
            
    -->
    <databases>
        <core>
            <db-name>H2</db-name>
            <db-location>./../data/BeamData</db-location>
            <jdbc-url>jdbc:h2:</jdbc-url>
            <jdbc-driver>org.h2.Driver</jdbc-driver>
        </core>       
    </databases>                              
</configuration>






















