<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    
    <!--
        Java Virtual Machine (TM) options.
        Change, add or remove options only in case you
        have clear understanding what you are doing.
    -->
    <jvm-options>
        <beam>
            <option>-Xmx12m</option>
            <option>-XX:MaxHeapFreeRatio=10</option>
            <option>-XX:MinHeapFreeRatio=10</option>
        </beam>
        <beam-system-console>
            <option>-Xmx4m</option>
            <option>-XX:MaxHeapFreeRatio=10</option>
            <option>-XX:MinHeapFreeRatio=10</option>
        </beam-system-console>
    </jvm-options>
    
    <!-- 
        Program resources (case insentive, forward slash and/or backslash insentive).
        - libraries  Points place where all libs and jars must be located.
                     Do not change this entry without replacing all files in new directory.
        - images     Points place where all pictures used by program are placed.
                     Do not change this entry without replacing all files in new directory.
        - programs   Shortcuts, *.exe, *.bat and any other executable files that 
                     are placed in this directory are visible for program and 
                     could be executed by "run %filename%" command.
    -->
    <resources>
        <libraries>./lib/</libraries>
        <images>./data/images/</images>
        <programs>D:/SOUL/Space/Program_links</programs>
    </resources>
    
    <!--
        
    -->
    <rmi-info>        
        <beam-system-console host="127.0.0.1" port="43015">
            <console-rmi-name>console</console-rmi-name>
        </beam-system-console>
        <beam host="127.0.0.1" port="43016">
            <task-manager-rmi-name>TaskManager</task-manager-rmi-name>
            <executor-rmi-name>Executor</executor-rmi-name>
            <access-rmi-name>RemoteAccess</access-rmi-name>                      
        </beam>        
    </rmi-info>
    
    <logging>
        
    </logging> 
        
    <ui>
        <!--    
            options for inner node (case insensitive):
            - "JavaFX"
            - "Swing"
        -->
        <inner>JavaFX</inner>  
        <external>system_console</external>      
    </ui>
    
    <!--
        Case sensitive!     
           
        To provide program with specified database connection, fill 
        subsequent properties with values apporpiate for particular Database.
        
        H2 Database (Embedded mode):
            <db-name>H2</db-name>
            <db-location>./data/BeamData</db-location>
            <jdbc-url>jdbc:h2:</jdbc-url>
            <jdbc-driver>org.h2.Driver</jdbc-driver>
            <db-driver-jar>h2-1.3.176.jar</db-driver-jar>
            
        SQLite Database (Embedded):
            Not implemented yet.
            
    -->
    <databases>
        <core>
            <db-name>H2</db-name>
            <db-location>./data/BeamData</db-location>
            <jdbc-url>jdbc:h2:</jdbc-url>
            <jdbc-driver>org.h2.Driver</jdbc-driver>
            <db-driver-jar>h2-1.3.176.jar</db-driver-jar>
        </core>       
    </databases>                              
</configuration>





